
.status-active {
  display: block;
  background-color: green;
  color: white;
}
.status-inactive {
  display: block;
  background-color: red;
  color: white;
}

.photos > figure {
  width: 150px;
  margin-right: 16px;
  float: left;
}
